---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-black dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#00FF00] dark:[&>p>strong]:text-[#00FF00] [&>p>strong]:font-normal"
  >
    <p>
      Me llamo Diego y soy técnico especializado en <strong>desarrollo de aplicaciones web y energías renovables</strong>. 
      Mi trayectoria combina la experiencia en proyectos técnicos, mantenimiento e instrumentación.
    </p>

    <p>
      He trabajado como técnico en diferentes sectores: desde <strong>energías renovables</strong>, participando en instalaciones y puesta en marcha de equipos, 
      hasta <strong>instrumentación en plantas termosolares</strong> y <strong>servicios de electromedicina en hospitales</strong>. 
      También he formado parte de proyectos de gestión documental y tramitación en el sector energético.
    </p>

    <p>
      Actualmente me sigo formando como <strong>Técnico Superior en Desarrollo de Aplicaciones Web</strong>, 
      con conocimientos en <em class="italic">Java, HTML, CSS, JavaScript y SQL</em>. 
      Mi objetivo es crecer profesionalmente en la intersección entre la <strong>tecnología digital</strong> y las <strong>energías limpias</strong>. 
    </p>



  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
